:root {
  --pale-blue: #dddbff;
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: #0c122c;
  --gradient-1: hsl(6, 100%, 80%);
  --gradient-2: hsl(335, 100%, 65%);
}

body {
  margin: 0;
  padding: 0;
  background-image: url("images/bg-mobile.png");
  background-repeat: no-repeat;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#container1 {
  background-color: var(--dark-blue);
}

.image-container {
  background-color: var(--very-dark-blue);
}
