:root {
  --pale-blue: #dddbff;
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: #0c122c;
  --gradient-1: hsl(6, 100%, 80%);
  --gradient-2: hsl(335, 100%, 65%);
}

body {
  margin: 0;
  padding: 0;
  background-image: url("images/bg-mobile.png");
  background-repeat: no-repeat;
  font-family: "Raleway";
  font-size: 14px;
}

#top-container {
  background-color: var(--dark-blue);
  width: 328px;
  height: 201px;
  gap: 32px;
  padding: 41px 43px;
  border-radius: 10px 100px 10px 10px;
}

#logo {
  height: 135px;
  width: 40px;
}
#images-container {
  gap: 17px;
}

.image-container {
  display: flex;
  background-color: var(--very-dark-blue);
  height: 47px;
  width: 48px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

#main {
  gap: 20px;
}

#bottom-container {
  background-color: var(--dark-blue);
  border-radius: 10px;
  width: 328px;
  height: 160px;
  padding: 30px 12px;
  gap: 12px;
}

#text {
  font-weight: 400;
  color: var(--grayish-blue);
}

span {
  font-weight: 700;
}
